#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #1c2938;
    border-radius: 25px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: azure;
}