#header{
    background-color: #10847E;
    background-size: 100%;
    display: flex;
   
 }
 .logo >p{
    color: white;
    font-size: 20px;
   
   
 }
 .ph >img{
    width: 50%;
   height: 50%;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 40%;
}
#container{
    display: flex;
}
.left{
    padding-left: 10%;
}

.left h1{
    color: rgb(82, 79, 79);
    font-size: 28px;
    margin-top: 3%;
}
.left >div > img{
    width: 4%;
    height: 4%;
    padding-right: 3%;
    

}
.left>div>button{
    border: #10847E;
    background-color: white;
    font-size: 17px;
    font-weight:bold;
    color: rgb(93, 93, 93);
    user-select: all;
}
.left>div>hr{
   
    width: 50%;
    padding-right: 15%;
    margin-top: 4%;
    margin-left: 60px;
    
}
.left>div>p{
    color: rgb(143, 143, 143);
    font-size: 14px;
    padding-left: 8%;
    
    text-align:justify;
}

.left>div>div>img{
    width: 4%;
    height: 4%;
    margin-left: 8%;
    margin-top: 10px;
   
}